<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='about.css')}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>О сайте</title>
</head>
<body>
	<div class="upmenu">
		<a href="{{ url_for('index')}}" class="logotip">Блог</a>
		<a href="{{ url_for('allarticles') }}" class="upmenuspan">Все статьи</a>
	</div>
	<div class="h1">
	<h1><span>О</span><br> блоге</h1></div>
	<div class="abouttext">
		<span>
		Я знаю,что здесь вы хотели найти увлекательную историю о том как Джони Кто-тотам покорял Дикий запад,но потом он перестал быть диким,потому что ...(вы можете узнать об  этом из учебников истории ,а мне лень давать ссылку на какой-либо, ведь это доп. работа по налавживанию красоты ссылки,но сейчас не об этом)Сейчас о главном: Джони, осознав плачевность ситуации, начал играть в увлекательную Dota 2 за своего любимого  персонажа пуджа на соло мид.Но его зарепортили хейтеры, отчего он получил 5 лп и бан до 2038 года.Это побудило его стать мамкиным хацкером и завести блог об этом.Сейчас ему лень писать статьи,но когда-нибудь он их напишет!А пока этим можешь заняться именно ты!
	</span>
	</div>
<div class="font">
	Как всегда контактов нет!<span class="ola">Я сам вас найду(если вы хотите конечно же)!</span>
</div>
</body>
</html>